/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #boton-sidebar{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #boton-sidebar{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #25233f;
}
.sidebar .side-usuario .links_name{
  color: #fff;
  opacity: 0;
  font-size: 0px;
  white-space:none;
  position: fixed;
  padding-top: 20px;
  transition: all 0.4s ease;
}
.sidebar.open .side-usuario .links_name{
  opacity: 1;
  width: 190px;
  font-size: 15px;
  white-space:wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sidebar .side-usuario i{
  color: #fff;
  opacity: 0;
  transition: all 0.4s ease;
}
.sidebar.open .side-usuario i{
  opacity: 1;
}
.btn-tuto{
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  background: #25233f;
  color: #FFF;
  padding: 10px;
  margin: 5px;
}
.btn-tuto-salir{
  background: #550000;
  color: #fff;
  border-radius: 12px;
  padding: 10px;
  margin: 5px;
}
p{
  padding-top: 10px;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar .profile a{
  background: #550000;
  color: #fff;
  
}
.sidebar .profile a:hover{
    background: #8d0000;
    color: #cfcfcf;
  }
.sidebar.open .profile a:hover{
  background: #8d0000;
  color: #cfcfcf;
}
.home-section{
  position: relative;
  top: 0;
  left: 149px;
  right: 110px;
  width: calc(100% - 220px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 300px;
  width: calc(100% - 350px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
.encabezado{
    background-color: #1d1b31;
    color: #E4E9F7;
    width: 100%;
    text-align: center;
    padding-right: 0px;
    margin-right: 0px;
}
.encabezado h1{
    width: 100%;
    text-shadow: #cfcfcf;
    font-weight: bolder;
    margin: 10px;
    padding-right: 20px;
}
.tiulo-dash h1{
  font-weight: bolder;
  color:#11101d;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.pie{
    background-color:#11101D;
    color: #E4E9F7;
}
.pie h5{
    width: 100%;
    text-align: center;
    text-shadow: #cfcfcf;
    font-weight: bolder;
}
.table{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    border:#25233f;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.table th{
    background-color: #1d1b31;
    color: #cfcfcf;
}
.home-section h2{
    font-weight: bolder;
    color: #1d1b31;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.texto-confirmacion h2{
  font-weight: bolder;
  color: #1ebd08;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.home-section h5{
    font-weight: bolder;
    color: #1d1b31;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.home-section h3{
  font-weight: bolder;
  color: #1d1b31;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
form{
    padding: 10px;
    font-weight: bold;
}
form .btn{
    font-weight: bold;
}
.btn-primary{
  background-color: #25233f;
}
.btn-primary:hover{
  background-color: #3d3a68;
}
.home-section input{
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.home-section select{
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.home-section .border{
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.contenedor-filtro{
  background-color: rgb(240, 240, 240);
}
.boton-agregar{
  height: 100%;
  font-size: 200%;
  align-items: center;
  text-shadow: #7e7e7e;
  box-shadow: #505050;
}
.contenedor-btn-agregar{
  text-align: right;
}
.boton-agregar .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% - 250px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.boton-agregar:hover .tooltip{
  color: #11101D;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.btn{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.btn-danger{
  background-color: #a70000;
}
.btn-danger:hover{
  background-color: #ce0000;
}
.btn-success{
  background-color:green;
}
.btn-success:hover{
  background-color:rgb(0, 153, 0);
}
.btn-warning{
  background-color:rgb(255, 230, 5);
  color:#25233f
}
.btn-warning:hover{
  background-color:rgb(255, 233, 37);
  color:#757575
}
input[type=checkbox], input[type=radio] {
  box-shadow: none;
}